<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RSSFeedReaderVeeru.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FFFF3EB1D9B82FC0066295A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FFFF4071D9B82FC0066295A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FFFF4121D9B82FC0066295A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
